Security App/src/wsdl/localhost_8080/SecurityWS/SecurityController.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.securityws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.securityws.una.ac.cr/" name="SecurityController">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.securityws.una.ac.cr/" schemaLocation="http://localhost:8080/SecurityWS/SecurityController?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"/>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"/>
</message>
<message name="saveUser">
<part name="parameters" element="tns:saveUser"/>
</message>
<message name="saveUserResponse">
<part name="parameters" element="tns:saveUserResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="logIn">
<part name="parameters" element="tns:logIn"/>
</message>
<message name="logInResponse">
<part name="parameters" element="tns:logInResponse"/>
</message>
<portType name="SecurityController">
<operation name="getAllUsers">
<input wsam:Action="http://controller.securityws.una.ac.cr/SecurityController/getAllUsersRequest" message="tns:getAllUsers"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SecurityController/getAllUsersResponse" message="tns:getAllUsersResponse"/>
</operation>
<operation name="saveUser">
<input wsam:Action="http://controller.securityws.una.ac.cr/SecurityController/saveUserRequest" message="tns:saveUser"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SecurityController/saveUserResponse" message="tns:saveUserResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://controller.securityws.una.ac.cr/SecurityController/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SecurityController/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="logIn">
<input wsam:Action="http://controller.securityws.una.ac.cr/SecurityController/logInRequest" message="tns:logIn"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SecurityController/logInResponse" message="tns:logInResponse"/>
</operation>
</portType>
<binding name="SecurityControllerPortBinding" type="tns:SecurityController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SecurityController">
<port name="SecurityControllerPort" binding="tns:SecurityControllerPortBinding">
<soap:address location="http://localhost:8080/SecurityWS/SecurityController"/>
</port>
</service>
</definitions>