Security App/src/wsdl/localhost_8080/SecurityWS/SigeceSoapWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.securityws.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.securityws.una.ac.cr/" name="SigeceSoapWS">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.securityws.una.ac.cr/" schemaLocation="http://localhost:8080/SecurityWS/SigeceSoapWS?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="logIn">
<part name="parameters" element="tns:logIn"/>
</message>
<message name="logInResponse">
<part name="parameters" element="tns:logInResponse"/>
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"/>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"/>
</message>
<message name="getAllSystems">
<part name="parameters" element="tns:getAllSystems"/>
</message>
<message name="getAllSystemsResponse">
<part name="parameters" element="tns:getAllSystemsResponse"/>
</message>
<message name="deleteSystem">
<part name="parameters" element="tns:deleteSystem"/>
</message>
<message name="deleteSystemResponse">
<part name="parameters" element="tns:deleteSystemResponse"/>
</message>
<message name="saveSystem">
<part name="parameters" element="tns:saveSystem"/>
</message>
<message name="saveSystemResponse">
<part name="parameters" element="tns:saveSystemResponse"/>
</message>
<message name="saveUser">
<part name="parameters" element="tns:saveUser"/>
</message>
<message name="saveUserResponse">
<part name="parameters" element="tns:saveUserResponse"/>
</message>
<message name="getAllRoles">
<part name="parameters" element="tns:getAllRoles"/>
</message>
<message name="getAllRolesResponse">
<part name="parameters" element="tns:getAllRolesResponse"/>
</message>
<message name="getSystem">
<part name="parameters" element="tns:getSystem"/>
</message>
<message name="getSystemResponse">
<part name="parameters" element="tns:getSystemResponse"/>
</message>
<message name="deleteRole">
<part name="parameters" element="tns:deleteRole"/>
</message>
<message name="deleteRoleResponse">
<part name="parameters" element="tns:deleteRoleResponse"/>
</message>
<message name="saveRole">
<part name="parameters" element="tns:saveRole"/>
</message>
<message name="saveRoleResponse">
<part name="parameters" element="tns:saveRoleResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<portType name="SigeceSoapWS">
<operation name="deleteUser">
<input wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="logIn">
<input wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/logInRequest" message="tns:logIn"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/logInResponse" message="tns:logInResponse"/>
</operation>
<operation name="getAllUsers">
<input wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/getAllUsersRequest" message="tns:getAllUsers"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/getAllUsersResponse" message="tns:getAllUsersResponse"/>
</operation>
<operation name="getAllSystems">
<input wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/getAllSystemsRequest" message="tns:getAllSystems"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/getAllSystemsResponse" message="tns:getAllSystemsResponse"/>
</operation>
<operation name="deleteSystem">
<input wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/deleteSystemRequest" message="tns:deleteSystem"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/deleteSystemResponse" message="tns:deleteSystemResponse"/>
</operation>
<operation name="saveSystem">
<input wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/saveSystemRequest" message="tns:saveSystem"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/saveSystemResponse" message="tns:saveSystemResponse"/>
</operation>
<operation name="saveUser">
<input wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/saveUserRequest" message="tns:saveUser"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/saveUserResponse" message="tns:saveUserResponse"/>
</operation>
<operation name="getAllRoles">
<input wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/getAllRolesRequest" message="tns:getAllRoles"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/getAllRolesResponse" message="tns:getAllRolesResponse"/>
</operation>
<operation name="getSystem">
<input wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/getSystemRequest" message="tns:getSystem"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/getSystemResponse" message="tns:getSystemResponse"/>
</operation>
<operation name="deleteRole">
<input wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/deleteRoleRequest" message="tns:deleteRole"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/deleteRoleResponse" message="tns:deleteRoleResponse"/>
</operation>
<operation name="saveRole">
<input wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/saveRoleRequest" message="tns:saveRole"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/saveRoleResponse" message="tns:saveRoleResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://controller.securityws.una.ac.cr/SigeceSoapWS/getUserResponse" message="tns:getUserResponse"/>
</operation>
</portType>
<binding name="SigeceSoapWSPortBinding" type="tns:SigeceSoapWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSystems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteSystem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveSystem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllRoles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSystem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SigeceSoapWS">
<port name="SigeceSoapWSPort" binding="tns:SigeceSoapWSPortBinding">
<soap:address location="http://localhost:8080/SecurityWS/SigeceSoapWS"/>
</port>
</service>
</definitions>